/* heading section */
.heading{
    background-image: url('../images/banner/banner2.png');
    padding: 40px 60px 600px 80px;
    text-align: right;
    background-repeat: no-repeat;
    margin-bottom:0px;
}
.text{
    padding: 120px 170px 0px 600px;
    font-size: 20px;
}
.title1{
    font-size: 57px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 900;
    margin-bottom: 0px;
}
.description1{
    color:dimgrey;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
    padding-left: 200px;
    margin-top: 25px;
}

.primary-btn{
    background-color: orangered;
    color: beige;
    padding: 19px 20px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    margin-top: 20px;
}
/* second section */
.text2{
   padding: 0px 280px 0px 0px; 
   margin-top: 150px;
}
.second{
    display: flex;
    margin-top: 0px;
    margin-bottom: 200px;
}
.image1{
    padding-left: 240px;
    padding-right: 20px;
    margin-top: 0px;
    /* background-color: blueviolet;
    padding-left: 30px;
    margin-left: 250px;
    border-radius: 50%; */
}
.title2{
    font-size: 50px;
    font-weight: 900;
    padding-left: 30px;
}
.description2{
    color: dimgrey;
    line-height:25px ;
    font-size: 20px;
    padding-right: 70px;
    padding-left: 35px;
}
.list{
    color: dimgrey;
    list-style: none;
    line-height: 35px;
    font-size: 20px;
}
.fa-solid{
    padding-right: 10px;
    color:lawngreen;
}
/* third section */
.image2{
    width: 700px;
    margin-left: 300px;
    border-radius: 50px;
}
.text3{
    text-align: left;
    margin-top: 10px;
    padding-left: 1100px;
    padding-right: 300px;
    position: relative;
    bottom: 400px;
}
.title3{
    font-size: 50px;
    font-weight: 700;
    
}
.description3{
    color:gray;
    font-size: 20px;
}
/* my plans section */
.title4{
    text-align: center;
    font-size: 50px;
}
.some-skills{
    display: flex;
    margin-left: 260px;
}  
div h2.skill{
    position: relative;
    top: 100px;
    right:105px ;
    font-weight: 700; 
}
div p.want{ 
   position: relative;
   top:155px ;
   right: 240px;
   color: gray;
   font-size: 20px;
}  
/* positive section */
.image4{
    padding-top: 200px;
    padding-left: 220px;
}
.top-left{
    position: relative;
    bottom: 230px;
    left: 290px;
    font-size: 40px;
    font-weight: 700;
    font-family: sans-serif; 
    color: white;
}
.bottom-left{
    position: relative;
    bottom: 200px;
    left: 290px;
    padding: 22px 40px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    color: orangered;
    font-family: sans-serif;
    font-weight: 700;
}
/* last section */
.last{
    display: flex;
    padding-right: 250px;
    padding-left: 220px;
    padding-top: 90px;
    padding-bottom: 100px;
    color: beige;
    background-color: black;
}
.left-text{
   padding-bottom: 10px;
   padding-right: 390px;
}
.title5{
    font-size: 50px;
    font-weight: 700;
    font-family: sans-serif;
}
.description4{
    font-size: 18px;
    font-family: sans-serif;
    line-height: 30px;
    position: relative;
    bottom: 20px;
}
.image6{
    padding-left: 18px;
}
.right-text{
    position: relative;
    top: 20px;
}
.sub{
    font-size: 22px;
    font-family: sans-serif;
}
.input{
    padding: 21px 75px 21px 20px;
    border-radius: 10px;
    background-color: black;
    color: beige;
    border-color: azure;
    margin-bottom: 20px;
    font-size: 18px;
}
.last-btn{
    color: orangered;
    padding: 22px 40px;
    border: none;
    border-radius:6px ;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
}
    
    






