/* heading section */
.heading{
    background-image: url('../images/banner/banner2.png');
    padding: 40px 60px 600px 80px;
    text-align: right;
    background-repeat: no-repeat;
    margin-bottom:0px;
}
.text{
    padding: 120px 170px 0px 600px;
    font-size: 20px;
}
.title1{
    font-size: 57px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 900;
    margin-bottom: 0px;
}
.description1{
    color:dimgrey;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
    padding-left: 200px;
    margin-top: 25px;
}

.primary-btn{
    background-color: orangered;
    color: beige;
    padding: 19px 20px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    margin-top: 20px;
}
/* second section */
.text2{
   padding: 0px 280px 0px 0px; 
   margin-top: 150px;
}
.second{
    display: flex;
    margin-top: 0px;
    margin-bottom: 200px;
}
.image1{
    padding-left: 240px;
    padding-right: 20px;
    margin-top: 0px;
    /* background-color: blueviolet;
    padding-left: 30px;
    margin-left: 250px;
    border-radius: 50%; */
}
.title2{
    font-size: 50px;
    font-weight: 900;
    padding-left: 30px;
}
.description2{
    color: dimgrey;
    line-height:25px ;
    font-size: 20px;
    padding-right: 70px;
    padding-left: 35px;
}
.list{
    color: dimgrey;
    list-style: none;
    line-height: 35px;
    font-size: 20px;
}
.fa-solid{
    padding-right: 10px;
    color:lawngreen;
}
/* third section */
.image2{
    width: 700px;
    margin-left: 300px;
    border-radius: 50px;
}
.text3{
    text-align: left;
    margin-top: 10px;
    padding-left: 1100px;
    padding-right: 300px;
    position: relative;
    bottom: 400px;
}
.title3{
    font-size: 50px;
    font-weight: 700;
    
}
.description3{
    color:gray;
    font-size: 20px;
}





